.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.color {
  color: aquamarine;
}

.relleno {
  padding: 15px;
}

p {
  display: flex;
  justify-content: center;
}
.linea {
  display: inline;
}
header {
  display: flex;
  justify-content: space-between;
}
.lado {
  position: absolute;
  right: 90%;
  bottom: 75%;
  position: fixed;
}
